<div id="main-wrapper">

    <app-header></app-header>
    <app-sidebar></app-sidebar>

    <div class="page-wrapper main">
      <div class="container-fluid">
        <!-- Bread crumb and right sidebar toggle -->
        <app-breadcumbs></app-breadcumbs>

         <!-- Start Page Content -->
                    <!-- ============================================================== -->
                    <div class="row">
                      <div class="col-12">
                          <div class="card">
                              <div class="card-body">
                                 <router-outlet></router-outlet>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- ============================================================== -->
          <!-- End PAge Content -->
      </div>
       <!-- footer -->
                <!-- ============================================================== -->
                <footer class="footer">
                  ©  Admin Pro Prueba
              </footer>
              <!-- ============================================================== -->
        <!-- End footer -->
    </div>


    </div>
