<div class="row">
    <div class="col-md-6">
        <h4>Gestión de Usuarios</h4>
    </div>
    <div class="col-md-6" style="text-align: right;">
        <a routerLink="new_user" class="btn btn-primary" style="color: white;">Nuevo</a>
    </div>
  <br>
    <div *ngIf="users.length>0; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <div class="col-md-12 table-responsive">
        <table class="table" style="margin-top: 15px">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Num Identificación</th>
              <th scope="col">Telefono</th>
              <th scope="col">Edad</th>
              <th scope="col" style="text-align:center;">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <th scope="row">{{user.userId}}</th>
              <td>{{user.userName}}</td>
              <td>{{user.userLastName}}</td>
              <td>{{user.userNumIdent}}</td>
              <td>{{user.userPhone}}</td>
              <td>{{user.userBirthDate | edad }}</td>
              <td style="width: 21%;text-align: center;">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <a [routerLink]="['edit_user',user.userId]" class="btn btn-info" style="padding: 5px;"><i class="mdi mdi-pencil"></i></a>
                  <a class="btn btn-danger"  (click)="delete(user.userId)" style="padding: 5px;"><i class="mdi mdi-account-remove" style="color: white;"></i></a>
                </div>

              </td>
            </tr>

        </table>

      </div>
    </ng-template>
    <ng-template #elseBlock>
      <div class="col-md-12" >
        No hay Usuarios registrados aún
      </div>
    </ng-template>

</div>


