<form [formGroup]="userForm" (ngSubmit)="newUser()">
    <div class="row">
        <div class="form-group col-md-6">
            <label for="exampleInputEmail1">Nombre</label>
            <input type="text" class="form-control"id="name" name="name"
            formControlName="name" [(ngModel)]="user.userName"
            [class.is-invalid] ="userForm.get('name').touched && userForm.get('name').invalid"
            placeholder="Nombre">
          </div>
          <div class="form-group col-md-6">
            <label for="exampleInputPassword1">Apellido</label>
            <input type="text"  class="form-control" id="last_name"
            formControlName="last_name" [(ngModel)]="user.userLastName"
            [class.is-invalid] ="userForm.get('last_name').touched && userForm.get('last_name').invalid"
            name="last_name" placeholder="Apellido ">
          </div>
          <div class="form-group col-md-6">
            <label for="exampleInputPassword1">Fecha nacimineto</label>
            <input type="date"  class="form-control" id="birth_date" 
            formControlName="birth_date" [(ngModel)]="user.userBirthDate"
            [class.is-invalid] ="userForm.get('birth_date').touched && userForm.get('birth_date').invalid"
            name="birth_date" placeholder="Apellido ">
          </div>
          <div class="form-group col-md-6">
            <label for="exampleInputPassword1">Phone</label>
            <input type="text"  class="form-control" id="phone" 
            formControlName="phone" [(ngModel)]="user.userPhone"
            [class.is-invalid] ="userForm.get('phone').touched && userForm.get('phone').invalid"
            name="phone" placeholder="Num telefonico ">
          </div>
          <div class="form-group col-md-6">
            <label for="exampleInputPassword1">Num identificacióon</label>
            <input type="text"  class="form-control" id="num_ident" 
            formControlName="num_ident" [(ngModel)]="user.userNumIdent"
            [class.is-invalid] ="userForm.get('num_ident').touched && userForm.get('num_ident').invalid"
            name="num_ident" placeholder="numero de documento ">
          </div>
          <div class="form-group col-md-6">
            <label for="exampleInputPassword1">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email ">
          </div>
          <div class="col-md-12" style="text-align: right;">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
         
        
    </div>
  
  </form>