<div class="row">
<div class="col-md-6">
    <h4>Gestión de Ventas</h4>
</div>
<div class="col-md-6" style="text-align: right;">
  <a routerLink="new_sale" class="btn btn-primary" style="color: white;">Nueva</a>
</div>

    <div *ngIf="sales.length>0; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <div class="col-md-12 table-responsive">
        <table class="table " style="margin-top: 15px">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Usuario</th>
              <th scope="col">Precio</th>
              <th scope="col">Fecha Venta</th>
              <th scope="col" style="text-align: center">Más</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sale of sales">
              <th scope="row">{{sale.saleId}}</th>
              <td *ngIf="sale.saleUser">{{sale.saleUser.userName}} {{sale.saleUser.userLastName}}</td>
              <td *ngIf="!sale.saleUser"></td>
              <td>{{sale.saleAmount | currency}}</td>
              <td>{{sale.saleDateSale | date}}</td>
              <td style="text-align: center;">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <a [routerLink]="['show_sale',sale.saleId]" class="btn btn-info" style="padding: 5px;"><i class="mdi mdi-eye"></i></a>
                </div>

              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </ng-template>
    <ng-template #elseBlock>
      <div class="col-md-12" >
        No hay Ventas registradas aún
      </div>
    </ng-template>
</div>
