<div class="row">
    <div class="col-md-6">
        <h4>Gestión de Productos</h4>
    </div>
    <div class="col-md-6" style="text-align: right;">
        <a routerLink="new_product" class="btn btn-primary" style="color: white;">Nuevo</a>
    </div>

</div>
    <br>
    <div *ngIf="products.length>0; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <div class="col-md-12 table-responsive">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Descripción</th>
              <th scope="col">Stock</th>
              <th scope="col">Precio</th>
              <th scope="col" style="text-align:center;">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
              <th scope="row">{{product.productId}}</th>
              <td>{{product.productName}}</td>
              <td>{{product.productDescription}}</td>
              <td>{{product.productStock}}</td>
              <td>{{product.productPrice}}</td>

              <td style="width: 21%;text-align: center;">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <a [routerLink]="['edit_product',product.productId]" class="btn btn-info" style="padding: 5px;"><i class="mdi mdi-pencil"></i></a>
                  <a class="btn btn-danger"  (click)="delete(product.productId)" style="padding: 5px;"><i class="mdi mdi-account-remove" style="color: white;"></i></a>
                </div>

              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </ng-template>
    <ng-template #elseBlock>
      <div class="col-md-12" >
        No hay Usuarios registrados aún
      </div>
    </ng-template>



