<form [formGroup]="edit_productForm" (ngSubmit)="editProduct()">
    <div class="row">
        <div class="form-group col-md-6">
            <label for="exampleInputEmail1">Nombre</label>
            <input type="text"  class="form-control" 
            formControlName="product_name" [(ngModel)]="product.productName"
            [class.is-invalid] ="edit_productForm.get('product_name').touched && edit_productForm.get('product_name').invalid"
            id="product_name" name="product_name" placeholder="Nombre">
          </div>
          <div class="form-group col-md-6">
            <label for="exampleInputPassword1">descripción</label>
            <input type="text" class="form-control" id="product_description"
            formControlName="product_description" [(ngModel)]="product.productDescription"
            [class.is-invalid] ="edit_productForm.get('product_description').touched && edit_productForm.get('product_description').invalid"
            name="product_description" placeholder="Descripción ">
          </div>
          <div class="form-group col-md-6">
            <label for="exampleInputPassword1">Precio</label>
            <input type="number" class="form-control" id="product_price" 
            formControlName="product_price" [(ngModel)]="product.productPrice"
            [class.is-invalid] ="edit_productForm.get('product_price').touched && edit_productForm.get('product_price').invalid"
            name="product_price" placeholder="Precio ">
          </div>
          <div class="form-group col-md-6">
            <label for="exampleInputPassword1">stock</label>
            <input type="number" class="form-control" id="product_stock"  
            formControlName="product_stock" [(ngModel)]="product.productStock"
            [class.is-invalid] ="edit_productForm.get('product_stock').touched && edit_productForm.get('product_stock').invalid"
            name="product_stock" placeholder="Stock ">
          </div>
        
          <div class="col-md-12" style="text-align: right;">
            <button type="submit" class="btn btn-primary">Actualizar</button>
        </div>
         
        
    </div>
  
  </form>
