
<!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar full">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav" style="height: 100%;">
                    <ul id="sidebarnav">
                        <li *ngFor="let item of menuItems"> 
                            <a class="has-arrow waves-effect waves-dark" href="" aria-expanded="false">
                                <i [ngClass]="item.icono"></i>
                                <span class="hide-menu">
                                    {{item.titulo}}
                                
                                </span>
                            </a>
                            <ul aria-expanded="false" id="ul" class="collapse">
                                <li *ngFor="let subMenuItem of item.submenu" >
                                    <a [routerLink]="subMenuItem.url"
                                    routerLinkActive ="active"
                                    [routerLinkActiveOptions]="{exact: true}"
                                    >{{subMenuItem.titulo}} </a>
                                </li>
                                
                            </ul>
                        </li>  
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->