<div class="col-md-12">
  <div class="row" *ngIf="sale.saleUser">
    <div class="col-md-6">
      <table>
        <tbody>
        <tr>
          <td style="width: 40%"><strong>Nombre:</strong></td>
          <td style="width: 40%" class="text-left">{{sale.saleUser.userName}}</td>
        </tr>
        <tr>
          <td><strong>Apellido:</strong></td>
          <td class="text-leftr">{{sale.saleUser.userLastName}}</td>
        </tr>

        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table>
        <tbody>
        <tr>
          <td style="width: 40%"><strong>Num Ident:</strong></td>
          <td style="width: 40%" class="text-leftr">{{sale.saleUser.userNumIdent}}</td>
        </tr>
        <tr>
          <td><strong>Celular:</strong></td>
          <td class="text-leftr">{{sale.saleUser.userPhone}}</td>
        </tr>

        </tbody>
      </table>

    </div>
  </div>
  <br>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Producto</th>
        <th>Qty</th>
        <th>Unit price</th>
        <th>Total</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let saleProduct of sale.saleProducts">
        <td>{{saleProduct.saleProductsProduct.productName}}</td>
        <td>{{saleProduct.saleProductsQty}}</td>
        <td>{{saleProduct.saleProductsUnitPrice|currency}}</td>
        <td>{{saleProduct.saleProductsUnitPrice*saleProduct.saleProductsQty|currency}}</td>
      </tr>
      <tr>
        <td colspan="3" class="text-right"><strong>Total:</strong></td>
        <td ><strong>{{sale.saleAmount|currency}}</strong></td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
