<form [formGroup]="saleForm" (ngSubmit)="newSale()">
    <div class="row">
        <div class="form-group col-md-4">
            <label for="exampleFormControlSelect1">Producto</label>
            <select class="form-control" id="exampleFormControlSelect1"
            formControlName="productId" [(ngModel)]="saleProduct.saleProductsProductId"
            [class.is-invalid] ="saleForm.get('productId').touched && saleForm.get('productId').invalid">
              <option *ngFor="let product of products" value="{{product.productId}}">{{product.productName}}</option>
            </select>
          </div>

          <div class="form-group col-md-4">
            <label for="exampleFormControlSelect1">Usuario</label>
            <select class="form-control" id="exampleFormControlSelect1"
            formControlName="userId" [(ngModel)]="sale.saleUserId" name="userId"
            [class.is-invalid] ="saleForm.get('userId').touched && saleForm.get('userId').invalid">
            >
              <option *ngFor="let user of users" value="{{user.userId}}">{{user.userName}} {{user.userLastName}}</option>
            </select>
          </div>

        <div class="form-group col-md-4">
            <label>cantidad</label>
            <input type="number"  class="form-control"
            formControlName="quantity" [(ngModel)]="saleProduct.saleProductsQty"
            [class.is-invalid] ="saleForm.get('quantity').touched && saleForm.get('quantity').invalid"
            id="quantity" name="quantity" placeholder="Cantidad">
          </div>
          <div class="form-group col-md-4">
            <label>Fecha Venta</label>
            <input type="date"  class="form-control"
            formControlName="dateSale" [(ngModel)]="sale.saleDateSale"
            [class.is-invalid] ="saleForm.get('dateSale').touched && saleForm.get('dateSale').invalid"
            id="name" name="name" placeholder="Nombre">
          </div>

          <div class="col-md-12" style="text-align: right;">
            <button type="submit" class="btn btn-primary">Guardar venta</button>
        </div>

    </div>

  </form>

