.dast{
    -webkit-animation-duration:1s;
    animation-duration:0.3s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
  
  }
  .main{
      min-height: 610px!important;
  }
  .main-nav{
   height: 100%!important;
}
.full{
   height: 100%!important;
}