
    <div *ngIf="sales.length>0; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <div class="col-md-12 table-responsive">
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Usuario</th>
              <th scope="col">Precio</th>
              <th scope="col">Fecha Venta</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sale of sales">
              <th scope="row">{{sale.saleId}}</th>
              <td *ngIf="sale.saleUser">{{sale.saleUser.userName}} {{sale.saleUser.userLastName}}</td>
              <td *ngIf="!sale.saleUser"></td>
              <td>{{sale.saleAmount | currency}}</td>
              <td>{{sale.saleDateSale | date}}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </ng-template>
    <ng-template #elseBlock>
      <div class="col-md-12" >
        No hay Ventas registradas aún
      </div>
    </ng-template>
